<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="col-md-12">{{ form_errors(form) }}</div>
        <div class="form-group input-group">
            {{ form_widget(form._token) }}
            {{ form_widget(form.name, {'attr': {'placeholder': 'Введите название', 'title': 'Название', 'class': 'form-control'}}) }}
        </div>
        <div class="bg-danger">{{ form_errors(form.name) }}</div>
    </div>
</div>